@use "./../../../../styles/colors";
@use "./../../../../styles/fonts";
@use "sass:map";

.badge {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px 5px;
  border-radius: 4px;
  box-sizing: border-box;
  height: 25px;
  width:max-content;
  border: 1px solid;
}

.sale {
  @extend .badge;

  /* Accent/Violet */
  background-color: map.get(colors.$colors, "accent", "violet");
  border-color: map.get(colors.$colors, "accent", "violet");
}
.sold-out {
  @extend .badge;

  // box-sizing: border-box;

  width:max-content;

  /* Accent/Orange */
  background-color: map.get(colors.$colors, "accent", "orange");

  border-color: map.get(colors.$colors, "accent", "orange");
}
.new {
  @extend .badge;

  /* Primary/Turquoise */
  background-color: map.get(colors.$colors, "primary", "base");
  border-color: map.get(colors.$colors, "primary", "base");
}
.product-of-week {
  @extend .badge;

  /* Greyscale/White */
  background-color: map.get(colors.$colors, "greyscale", "white");

  /* Greyscale/Black */
  border-color: map.get(colors.$colors, "greyscale", "black");
}

.badgeText {
  /* Additional */

  // width: 44px;
  // height: 20px;

  /* Caption/Caption small bold */


  // font-family: "Lato";
  // font-style: normal;
  // font-weight: 700;
  // font-size: 12px;
  // line-height: 20px;
  /* identical to box height, or 167% */

  display: flex;
  align-items: center;
  margin: 0
}

.sale-sold-new-text {
  @extend .badgeText;
  color: map.get(colors.$colors,"greyscale", "white");
}

.product-of-week-text {
  @extend .badgeText;
  color: map.get(colors.$colors,"greyscale", "black");
}
