@use "./../../../../../styles/colors";
@use "./../../../../../styles/fonts";
@use "sass:map";

.menu-icon-container {
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
  text-decoration: none;
  text-transform: uppercase;
  color: map.get(colors.$colors, "greyscale", "black");
  padding-bottom: 10px;

  &:hover {
    color: map.get(colors.$colors,"primary", "base");
    border-bottom: 2px solid map.get(colors.$colors, "primary", "base");
   }
  &:focus {
    color: map.get(colors.$colors,"primary", "base");
    border: 2px solid map.get(colors.$colors,"accent", "orange");
   }
  }
  .active {
    color: map.get(colors.$colors, "greyscale", "black");
    border-bottom: 2px solid map.get(colors.$colors, "primary", "base");
  }
}

