@use "./../../../../styles/colors";
@use "sass:map";

.icon-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 4px;

  width: 40px;
  height: 40px;

  border-radius: 4px;
  border: none;
  background: transparent;

  &:default {
    color: map.get(colors.$colors,"greyscale", "black");
  }
  &:focus {
    box-sizing: border-box;
    border: 2px solid map.get(colors.$colors,"accent", "orange");
    color: map.get(colors.$colors,"primary", "dark");
  }
  &:hover {
    color: map.get(colors.$colors,"primary", "dark");
  }
  &:disabled {
    color: map.get(colors.$colors,"greyscale", "dark");
  }
}

