@use "./../../../../styles/colors";
@use "./../../../../styles/fonts";
@use "sass:map";

.primary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;

  width: 151px;
  height: 42px;

  background: map.get(colors.$colors, "primary", "base");
  border-radius: 4px;
  border: none;

  color: map.get(colors.$colors, "greyscale", "white");

  &:hover {
    background: map.get(colors.$colors,"primary", "dark");
  }
  &:focus {
    border: 2px solid map.get(colors.$colors,"accent", "orange");
    background: map.get(colors.$colors,"primary", "dark");
  }
  &:disabled {
    color: map.get(colors.$colors,"greyscale", "dark");
    background: map.get(colors.$colors,"greyscale", "light");
  }
}

p {
  margin: 0;
}

