@use "sass:map";

$colors: (
  primary: (
    "base": rgb(90, 176, 187),
    "dark": rgb(20, 147, 164),
    "light": rgb(206, 231, 235),
  ),
  accent: (
    "violet": rgb(102, 49, 141),
    "orange": rgb(251, 130, 0),
  ),
  functional: (
    success: (
      "dark": rgb(76, 175, 80),
      "light": rgb(235, 244, 230),
    ),
    "warning": rgb(190, 0, 40),
  ),
  greyscale: (
    "black": rgb(0, 0, 0),
    "dark": rgb(123, 126, 130),
    "base": rgb(207, 207, 207),
    "light": rgb(233, 233, 233),
    "very-light": rgb(250, 249, 251),
    "white": rgb(255, 255, 255),
  )
);
