@use "./../../../../styles/colors";
@use "./../../../../styles/fonts";
@use "sass:map";

.beer-list-container {
  margin-left: 10px;
}

.header-container {
  display: flex;
  flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;
  width: 100vw;
  min-height: 198px;
}

li a {
  text-decoration: none;
  color: map.get(colors.$colors, "greyscale", "black");
}
