@use "./../../../../../../styles/colors";
@use "./../../../../../../styles/fonts";
@use "sass:map";

.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 1px;
  text-align: center;
}

a {
  text-decoration: none;
  color: map.get(colors.$colors,"primary", "base");
  p {
    color: map.get(colors.$colors, "greyscale", "black");
  }
  &:hover {
    p {
      color: map.get(colors.$colors,"primary", "base");
    }
  }
  &:focus {
    border: 2px solid map.get(colors.$colors,"accent", "orange");
    p {
      color: map.get(colors.$colors,"primary", "base");
    }
  }
  &:active {
    p {
      color: map.get(colors.$colors,"primary", "base");
    }
  }
}

