@use "fonts";
@use "colors";

.tile {
  /* Product Tile */
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 16px;

  position: absolute;
  width: 302px;
  height: 467px;
  left: 67px;
  top: 211px;

  background: #FFFFFF;

  /* Greyscale/Light Grey */
  border: 1px solid #E9E9E9;
  box-shadow: 0px 2px 4px rgba(5, 7, 32, 0.08);
  border-radius: 4px;
}

.tile-info {
  /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 270px;
height: 306px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.tile-visual {
  /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 12px;

width: 270px;
height: 212px;
left: 0px;
top: 0px;
}

.badges-icons {
  height: 40px;

  /* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.badges {
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 6px;

// position: absolute;
width: 183.68px;
height: 25px;
left: 0px;
top: 7px;
}

.icons {
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 77.18px;
height: 40px;
left: 192.82px;
top: 0px;

}

// app-badge {

// }

app-icon-button {
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 4px;

width: 40px;
height: 40px;

border-radius: 4px;
}

#icon-compare {
transform: rotate(180deg);
  /* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

#icon-heart {
  /* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.image-frame {
  /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 270px;
height: 160px;
left: 0px;
top: 52px;
}

.image {
background-size: contain;
background-repeat: no-repeat;
position: absolute;
left: 17.21%;
right: 17.21%;
top: 24.53%;
bottom: 0%;
}
