@use './../../../../../../styles/colors';
@use './../../../../../../styles/fonts';
@use 'sass:map';

.search-btn {
  color: map.get(colors.$colors,"greyscale", "white");
  background-color: map.get(colors.$colors,"primary", "base");
  border-radius: 0 3px 3px 0;
}

.form-control {
  border: none;
}

.input-group {
  border: 1px solid map.get(colors.$colors,"greyscale", "dark");
  border-radius: 4px;
  ::placeholder {
    color: map.get(colors.$colors,"greyscale", "dark");
  }
  &:hover {
    border-color: map.get(colors.$colors,"greyscale", "black");
    ::placeholder {
      color: map.get(colors.$colors, "greyscale", "black");
    }
  }
  &:focus-within {
    border-color: map.get(colors.$colors,"accent", "orange");
    ::placeholder {
      color: transparent;
    }
  }
}

