@use './../../../../../styles/colors';
@use './../../../../../styles/fonts';
@use 'sass:map';

th {
  text-align: center;
}

td {
  text-align: center;
  align-items: center;
}

#productTd {
  display: flex;
  flex-wrap: nowrap;
}

.input-group {
  max-width: 250px;
}

input {
  text-align: center;
}
